* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    max-width: 800px;
    background-color: black !important;
    /* background: url("https: //i.postimg.cc/sf84ZxDJ/b562fa70-8e3e-46de-9a8b-495b1ea3b9e5.jpg"); */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.ConfirmCodeContainer {
    padding-left: 6%;
    font-size: 18px;
}

.ConfirmCodeContainer .greeting {
    margin-bottom: 16px;
    color: white !important;
    text-align: justify;
}

.ConfirmCodeContainer .welcomeMessage {
    margin-bottom: 20px;
    color: white !important;
    
}

.ConfirmCodeContainer .activationCode {
    height: 60px;
    width: 260px;
    border: 2px solid white;
    border-radius: 10px;
    padding-top: 5%;
    padding-left: 4%;
    margin-bottom: 40px;
    margin-top: 30px;
}

.ConfirmCodeContainer .activationDetails {
    margin-bottom: 18px;
}

.list {
    margin-left: 50px;
    line-height: 2;
    margin-bottom: 40px;
}
@media screen and (max-width: 450px) {
    .list {margin-left: 10px;}
}