* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    max-width: 800px;
    background-color: black!important;
    /* background: url("https: //i.postimg.cc/sf84ZxDJ/b562fa70-8e3e-46de-9a8b-495b1ea3b9e5.jpg"); */
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
}

main {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
}


.messageText {
    width: 100%;
    padding-left: 4%;
    padding-right: 4%;
    font-size: 20px;
    line-height: 2;
    margin-top: 4rem;
    font-size: 17px;
    text-align: justify;
    font-weight: 600;
}
.messageText p{
    color: white!important;
}
.greeting{
    margin-bottom: 30px;
}
.messageTo{
    line-height: 2;
}
@media screen and (max-width:450px) {
    /* .headerSection {
        max-width: 4;
    }

    .headerSection .imageHeader {
        max-width: 450px;
    }

    .headerSection .textHeader {
        max-width: 100%;
    } */
}