doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Mail
        style
            include ../Css/Welcome.css
            include ../Css/Header.css
    body 
        main 
            div.headerSection 
                div.imageHeader
                    img(src="https://i.postimg.cc/yNHdv7tw/African-woman-with-colorful-shopping.jpg", alt="", srcset="")
            div.textHeader
                    h1 Shoplet 
                    p Get your favorite product at your doorstep with one click.
            div.messageText 
                p Hey #{UserName}, 
                p.                
                    #{Message}
                p.
                    See you around,
                    The Shoplet Team at Shoplet.
         

